################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping
Shopping/.vs/Shopping/DesignTimeBuild/.dtbcache.v2
Shopping/.vs/Shopping/DesignTimeBuild/.dtbcache.v2
Shopping/.vs/Shopping/v16/.suo
